<h1 class="mb-4">Photos</h1>

<%= form_with url: photos_path, method: :get, local: true, class: "mb-4", id: "search-form" do %>
  <div class="input-group">
    <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search by description" %>
    <div class="input-group-append">
      <button type="button" class="btn btn-primary" onclick="submitSearchForm()">Search</button>
    </div>
  </div>
<% end %>

<div class="row">
  <% @photos.select{ |photo| photo.file.present? }.each do |photo| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <%= image_tag photo.file, class: "card-img-top img-fluid", style: "max-width: 100%; height: auto;" %>
        <div class="card-body">
          <%= link_to 'View', photo_path(photo), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'Upload New Photo', new_photo_path, class: "btn btn-secondary" %>

<script>
    function submitSearchForm() {
        const form = document.getElementById('search-form');
        const searchInput = form.querySelector('input[name="search"]');
        const searchValue = searchInput.value;
        const url = new URL(form.action);
        url.searchParams.set('search', searchValue);
        window.location.href = url.toString();
    }
</script>
